<div class="modal-header">
    <h4 class="modal-title">Inscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="signupForm" style="display: flex; height: 100%; width: 300%;">

        <div [@changeStep]="step" [@visible]="step === 1 ? 'yes' : 'no'" style="flex: 1;">
            <div class="form-group">
                <label for="licence">N° Licence</label>
                <input type="number" id="licence"
                    class="form-control" formControlName="licence"
                    placeholder="N°Licence" #licence
                    [ngClass]="{'is-invalid': signupForm.get('licence').invalid && signupForm.get('licence').dirty}">
                <div class="invalid-feedback">N°Licence requise</div>
            </div>
            
            <div class="form-group">
                <label for="firstName">Prenom</label>
                <input type="text" id="firstName"
                    class="form-control" formControlName="firstName"
                    placeholder="Prenom" #firstName
                    [ngClass]="{'is-invalid': signupForm.get('firstName').invalid && signupForm.get('firstName').dirty}">
                <div class="invalid-feedback">Prénom requis</div>
            </div>
    
            <div class="form-group">
                <label for="lastName">Nom</label>
                <input type="text" id="lastName"
                    class="form-control" formControlName="lastName"
                    placeholder="Nom" #lastName
                    [ngClass]="{'is-invalid': signupForm.get('lastName').invalid && signupForm.get('lastName').dirty}">
                <div class="invalid-feedback">Nom requis</div>
            </div>
    
            <div class="form-group">
                <label for="gender">Genre</label>
                <select id="gender" class="custom-select"
                    formControlName="gender" #gender
                    [ngClass]="{'is-invalid': signupForm.get('gender').invalid && signupForm.get('gender').dirty}">
                    <option value="">Choisissez votre genre</option>
                    <option value="M">Homme</option>
                    <option value="F">Femme</option>
                </select>
                <div class="invalid-feedback">Genre requis</div>
            </div>
    
            <div class="form-group">
                <label for="birthDate">Date de naissance</label>
                <div class="input-group">
                    <input class="form-control" placeholder="dd/mm/yyyy"
                        name="birthDate" id="birthDate" formControlName="birthDate"
                        ngbDatepicker #birthDate="ngbDatepicker" [maxDate]="calendar.getToday()"
                        [minDate]="calendar.getPrev(calendar.getToday(), 'y', 100)"
                        [ngClass]="{'is-invalid': signupForm.get('birthDate').invalid && signupForm.get('birthDate').dirty}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="birthDate.toggle()" type="button">
                            calendar
                        </button>
                    </div>
                </div>
                <div class="invalid-feedback">Date de naissance requise</div>
            </div>
        </div>

        <div [@changeStep]="step" [@visible]="step === 2 ? 'yes' : 'no'" style="flex: 1;">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email"
                    class="form-control" formControlName="email"
                    placeholder="email" #email
                    [ngClass]="{'is-invalid': signupForm.get('email').invalid && signupForm.get('email').dirty}">
                <div class="invalid-feedback">Email requis</div>
            </div>
    
            <div class="form-group">
                <label for="phone">Téléphone</label>
                <ngx-intl-tel-input
                    class="form-control border-0 pl-0"
                    [preferredCountries]="[CountryISO.France]"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.France"
                    [maxLength]="15"
                    [tooltipField]="TooltipLabel.Name"
                    [phoneValidation]="true"
                    [separateDialCode]="true"
                    name="phone"
                    formControlName="phone"
                    [ngClass]="{'is-invalid': signupForm.get('phone').invalid && signupForm.get('phone').dirty}">
                </ngx-intl-tel-input>
                <div class="invalid-feedback">Téléphone requis</div>
            </div>
        </div>

        <div [@changeStep]="step" [@visible]="step === 3 ? 'yes' : 'no'" style="flex: 1;">
            <div class="form-group">
                <label for="password1">Mot de passe</label>
                <input type="password" class="form-control" name="password"
                    id="password1" formControlName="password1"
                    placeholder="Mot de passe" #password1
                    [ngClass]="{'is-invalid': signupForm.get('password1').invalid && signupForm.get('password1').dirty}">
                <div class="invalid-feedback">Mot de passe requis</div>
            </div>
    
            <div class="form-group">
                <label for="password2">Confirmez</label>
                <input type="password" class="form-control"
                    id="password2" formControlName="password2"
                    placeholder="Confirmez le mot de passe" #password2
                    [ngClass]="{'is-invalid': signupForm.get('password2').invalid && signupForm.get('password2').dirty}">
                <div class="invalid-feedback" *ngIf="signupForm.get('password2').errors">
                    <div *ngIf="signupForm.get('password2').errors.required">
                        Mot de passe requis
                    </div>
                    <div *ngIf="signupForm.get('password2').errors.notSame && !signupForm.get('password2').errors.required">
                        Mots de passes différents
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="move(false)">
        <ng-container *ngIf="step !== 1">
            Retour
        </ng-container>
        <ng-container *ngIf="step === 1">
            Annuler
        </ng-container>
    </button>
    <button type="button" class="btn btn-primary"
        (click)="move(true)" *ngIf="step === 1"
        [disabled]="signupForm.get('licence').invalid || signupForm.get('firstName').invalid ||
                    signupForm.get('lastName').invalid || signupForm.get('gender').invalid ||
                    signupForm.get('birthDate').invalid">
        Suivant
    </button>
    <button type="button" class="btn btn-primary"
        (click)="move(true)" *ngIf="step === 2"
        [disabled]="signupForm.get('email').invalid || signupForm.get('phone').invalid">
        Suivant
    </button>
    <button type="button" class="btn btn-primary"
        (click)="move(true)" *ngIf="step === 3"
        [disabled]="signupForm.invalid">
        Envoyer
    </button>
</div>